
<div class="container" >
    <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4">
             <form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">
                 <div class="form-group">
                     <label>Enter ID</label>
                     <input type="text" name="id" ngModel class="form-control" autocomplete="off">
                 </div>
                 <input type="submit" class="btn btn-primary btn-block" value="Submit">
             </form> 
         </div>
         <div class="col-md-4"></div>
    </div>

</div>

