<form #myform="ngForm">
    <div class="form-group">
        <label for="firstname"> FIRST NAME :</label>
        <input minlength="5" maxlength="10" #firstname="ngModel" ngModel required id="firstname" type="text"
            name="firstname" placeholder="FIRST NAME " class="form-control">

        <div *ngIf="firstname.invalid &&(firstname.dirty || firstname.touched)" class="alert alert-danger">
            <div *ngIf="firstname.errors.required" class="border border-danger">
                Name is required.
            </div>
            <div *ngIf="firstname.errors.minlength" class="border border-danger">
                Name must be at least {{firstname.errors.minlength.requiredLength}} characters long.
            </div>
            <div *ngIf="firstname.errors.maxlength">
                Name must be at least {{firstname.errors.maxlength.requiredLength}} characters long.
            </div>
        </div>
        <div class="form-group">
            <label for="lastname"> LAST NAME :</label>
            <input id="lastname" minlength="5" maxlength="10" #lastname="ngModel" ngModel type="text" name="lastname"
                required placeholder="LAST NAME :" class="form-control">

            <div *ngIf="lastname.invalid &&(lastname.dirty || lastname.touched)" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                    <p>Name is required.</p>
                </div>
                <div *ngIf="lastname.errors.minlength" class="border border-danger">
                    Name must be at least {{lastname.errors.minlength.requiredLength}} characters long.
                </div>
            </div>
        </div>

        <div>

        </div>

        <div class="form-group">
            <label>Language</label>
            <select class="form-control" required ngModel name="languages">
                <option *ngFor="let lang of  languages">
                    {{lang}}
                </option>
            </select>
        </div>
    <div class="navbar bg-primary mt-5">
        
        <label class="radio-inline mt-5 "> <input type="radio" value="male" name="gender" ngModel required  class="mt-5"> male </label>
        <label class="radio-inline mt-5   "> <input type="radio" class="mt-5" value="female" name="gender" ngModel required class="radio  d-inline">female</label>
    </div>

        
        <button class="btn btn-danger" type="button" [disabled]="!myform.valid">SUBMIT</button>
    </div>
</form>